.WrapperE {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    margin-top: 100px;
   
}

.Thumbnails{
    padding-left: 200px;
}

.ImageFirstChild{
    cursor:pointer;
}

.SingTitle{
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 2px;
}